## Finding Duplicates

#### There are times when you will need to review a file for duplicates. Python 'Pandas' has a function that allows you easily select the duplicates for review. You can select them all, the first occurrences or the prior occurrences.

In [31]:
# First I will import some libararies
import pandas as pd
import numpy as np

In [32]:
#  Then I will read an excel file as a data frame
df1=pd.read_excel('Sales_Customers.xlsx')

In [33]:
# Now, let's have a preview of the dataframe
df1.head()

,custid,companyname,contactname,contacttitle,address,city,region,postalcode,country,phone,fax
0,1,Customer NRZBB,"Allen, Michael",Sales Representative,Obere Str. 0123,Berlin,NaN,10092,Germany,030-3456789,030-0123456
1,2,Customer MLTDN,"Hassall, Mark",Owner,Avda. de la Constitución 5678,México D.F.,NaN,10077,Mexico,(5) 789-0123,(5) 456-7890
2,3,Customer KBUDE,"Strome, David",Owner,Mataderos 7890,México D.F.,NaN,10097,Mexico,(5) 123-4567,NaN
3,4,Customer HFBZG,"Cunningham, Conor",Sales Representative,7890 Hanover Sq.,London,NaN,10046,UK,(171) 456-7890,(171) 456-7891
4,5,Customer HGVLZ,"Higginbotham, Tom",Order Administrator,Berguvsvägen 5678,Luleå,NaN,10112,Sweden,0921-67 89 01,0921-23 45 67

In [34]:
# For the purpose of this project, I will grab a sample from the 'Sales_Customers' file 
df2 = df1.sample(n=15)

In [35]:
# not necessary, but I will preview the sample
df2.head()

,custid,companyname,contactname,contacttitle,address,city,region,postalcode,country,phone,fax
3,4,Customer HFBZG,"Cunningham, Conor",Sales Representative,7890 Hanover Sq.,London,NaN,10046,UK,(171) 456-7890,(171) 456-7891
36,37,Customer FRXZL,"Óskarsson, Jón Harry",Sales Associate,9012 Johnstown Road,Cork,Co. Cork,10051,Ireland,8901 234,5678 9012
87,88,Customer SRQVM,"Li, Yan",Sales Manager,"Rua do Mercado, 4567",Resende,SP,10084,Brazil,(14) 234-5678,NaN
33,34,Customer IBVRG,"Zhang, Frank",Accounting Manager,"Rua do Paço, 7890",Rio de Janeiro,RJ,10076,Brazil,(21) 789-0123,(21) 789-0124
54,55,Customer KZQZT,"Wood, Robin",Sales Representative,7890 Bering St.,Anchorage,AK,10050,USA,(907) 555-0115,(907) 555-0128

In [36]:
# Now I will join to two files
df3=pd.concat([df1, df2], ignore_index=True)

In [37]:
# Lets get a row count for the original file
df1.shape

(91, 11)

In [38]:
# And a row count for the sample file
df2.shape

(15, 11)

In [39]:
# Finally we will compare the row count for the combined files
df3.shape

(106, 11)

In [40]:
# We will add the two counts for confirmation
91 + 15

106

In [41]:
# Now let's create a seperate data frame to look at the duplicates
dupes=df3.loc[df3.duplicated(keep=False), :]

In [42]:
# Now I will sort the duplicated data by the column 'custid'
dupes.sort_values('custid')

,custid,companyname,contactname,contacttitle,address,city,region,postalcode,country,phone,fax
0,1,Customer NRZBB,"Allen, Michael",Sales Representative,Obere Str. 0123,Berlin,NaN,10092,Germany,030-3456789,030-0123456
102,1,Customer NRZBB,"Allen, Michael",Sales Representative,Obere Str. 0123,Berlin,NaN,10092,Germany,030-3456789,030-0123456
3,4,Customer HFBZG,"Cunningham, Conor",Sales Representative,7890 Hanover Sq.,London,NaN,10046,UK,(171) 456-7890,(171) 456-7891
91,4,Customer HFBZG,"Cunningham, Conor",Sales Representative,7890 Hanover Sq.,London,NaN,10046,UK,(171) 456-7890,(171) 456-7891
105,5,Customer HGVLZ,"Higginbotham, Tom",Order Administrator,Berguvsvägen 5678,Luleå,NaN,10112,Sweden,0921-67 89 01,0921-23 45 67
4,5,Customer HGVLZ,"Higginbotham, Tom",Order Administrator,Berguvsvägen 5678,Luleå,NaN,10112,Sweden,0921-67 89 01,0921-23 45 67
10,11,Customer UBHAU,"Jaffe, David",Sales Representative,Fauntleroy Circus 4567,London,NaN,10064,UK,(171) 789-0123,NaN
103,11,Customer UBHAU,"Jaffe, David",Sales Representative,Fauntleroy Circus 4567,London,NaN,10064,UK,(171) 789-0123,NaN
13,14,Customer WNMAF,"Jelitto, Jacek",Owner,Hauptstr. 0123,Bern,NaN,10065,Switzerland,0452-678901,NaN
104,14,Customer WNMAF,"Jelitto, Jacek",Owner,Hauptstr. 0123,Bern,NaN,10065,Switzerland,0452-678901,NaN
94,34,Customer IBVRG,"Zhang, Frank",Accounting Manager,"Rua do Paço, 7890",Rio de Janeiro,RJ,10076,Brazil,(21) 789-0123,(21) 789-0124
33,34,Customer IBVRG,"Zhang, Frank",Accounting Manager,"Rua do Paço, 7890",Rio de Janeiro,RJ,10076,Brazil,(21) 789-0123,(21) 789-0124
35,36,Customer LVJSO,"Smith, Denise",Sales Representative,City Center Plaza 2345 Main St.,Elgin,OR,10103,USA,(503) 555-0126,(503) 555-0135
97,36,Customer LVJSO,"Smith, Denise",Sales Representative,City Center Plaza 2345 Main St.,Elgin,OR,10103,USA,(503) 555-0126,(503) 555-0135
92,37,Customer FRXZL,"Óskarsson, Jón Harry",Sales Associate,9012 Johnstown Road,Cork,Co. Cork,10051,Ireland,8901 234,5678 9012
36,37,Customer FRXZL,"Óskarsson, Jón Harry",Sales Associate,9012 Johnstown Road,Cork,Co. Cork,10051,Ireland,8901 234,5678 9012
41,42,Customer IAIJK,"Zaki, Amr",Marketing Assistant,2345 Oak St.,Vancouver,BC,10098,Canada,(604) 567-8901,(604) 234-5678
99,42,Customer IAIJK,"Zaki, Amr",Marketing Assistant,2345 Oak St.,Vancouver,BC,10098,Canada,(604) 567-8901,(604) 234-5678
51,52,Customer PZNLA,"Natarajan, Mrina",Marketing Assistant,Heerstr. 4567,Leipzig,NaN,10125,Germany,0342-12345,NaN
101,52,Customer PZNLA,"Natarajan, Mrina",Marketing Assistant,Heerstr. 4567,Leipzig,NaN,10125,Germany,0342-12345,NaN
54,55,Customer KZQZT,"Wood, Robin",Sales Representative,7890 Bering St.,Anchorage,AK,10050,USA,(907) 555-0115,(907) 555-0128
95,55,Customer KZQZT,"Wood, Robin",Sales Representative,7890 Bering St.,Anchorage,AK,10050,USA,(907) 555-0115,(907) 555-0128
98,65,Customer NYUHS,"Moore, Michael",Assistant Sales Representative,6789 Milton Dr.,Albuquerque,NM,10109,USA,(505) 555-0125,(505) 555-0134
64,65,Customer NYUHS,"Moore, Michael",Assistant Sales Representative,6789 Milton Dr.,Albuquerque,NM,10109,USA,(505) 555-0125,(505) 555-0134
78,79,Customer FAPSM,"Wickham, Jim",Marketing Manager,Luisenstr. 0123,Münster,NaN,10118,Germany,0251-456789,0251-012345
96,79,Customer FAPSM,"Wickham, Jim",Marketing Manager,Luisenstr. 0123,Münster,NaN,10118,Germany,0251-456789,0251-012345
93,88,Customer SRQVM,"Li, Yan",Sales Manager,"Rua do Mercado, 4567",Resende,SP,10084,Brazil,(14) 234-5678,NaN
87,88,Customer SRQVM,"Li, Yan",Sales Manager,"Rua do Mercado, 4567",Resende,SP,10084,Brazil,(14) 234-5678,NaN
100,90,Customer XBBVR,"Larsson, Katarina",Owner/Marketing Assistant,Keskuskatu 2345,Helsinki,NaN,10055,Finland,90-012 3456,90-789 0123
89,90,Customer XBBVR,"Larsson, Katarina",Owner/Marketing Assistant,Keskuskatu 2345,Helsinki,NaN,10055,Finland,90-012 3456,90-789 0123