# Daily Bank Transaction Review

In [2]:
#First we will import the pandas library
import pandas as pd

In [15]:
#Then we will select the two files to compare

checks = pd.read_excel('BankRec_example.xlsx')
bank = pd.read_excel('BankRec_BankofAmerica.xlsx')

In [14]:
# Quick review of the 'checks' data frame
checks.head()

   CheckNo                          Name  CheckDate    TotalDue
0     1001                 Litware, Inc. 2011-04-25    222.1492
1     1002             Advanced Bicycles 2011-04-25    300.6721
2     1003               Allenson Cycles 2011-04-25   9776.2665
3     1004  American Bicycles and Wheels 2011-04-25    189.0395
4     1005                American Bikes 2011-05-09  22539.0165

In [16]:
# Quick review of the 'bank' data frame
bank.head()

   CheckCleared DateCleared  AmountCleared
0          1001  2011-06-29       222.1492
1          1002  2011-06-29       300.0000
2          1003  2011-06-29      9776.2665
3          1004  2011-06-29       189.0395
4          1005  2011-07-13     22539.0165

In [32]:
# Now we will create a third data frame and merge the previous data frame's into one.
# Similar to SQL, I can join the two data frames by using a 'left, right, outer, and inner'
# I can also add an indicator that will let me know which data frame the data EXISTS or NOT EXISTS

review = pd.merge(checks, bank, how='outer', left_on='CheckNo', right_on='CheckCleared', indicator='location')
review

,CheckNo,Name,CheckDate,TotalDue,CheckCleared,DateCleared,AmountCleared,location
0,1001.0,"Litware, Inc.",2011-04-25 00:00:00.000,2.221492e+02,1001.0,2011-06-29 00:00:00.000,2.221492e+02,both
1,1002.0,Advanced Bicycles,2011-04-25 00:00:00.000,3.006721e+02,1002.0,2011-06-29 00:00:00.000,3.000000e+02,both
2,1003.0,Allenson Cycles,2011-04-25 00:00:00.000,9.776266e+03,1003.0,2011-06-29 00:00:00.000,9.776266e+03,both
3,1004.0,American Bicycles and Wheels,2011-04-25 00:00:00.000,1.890395e+02,1004.0,2011-06-29 00:00:00.000,1.890395e+02,both
4,1005.0,American Bikes,2011-05-09 00:00:00.000,2.253902e+04,1005.0,2011-07-13 00:00:00.000,2.253902e+04,both
5,1006.0,Anderson's Custom Bikes,2011-05-09 00:00:00.000,1.616402e+04,1006.0,2011-07-13 00:00:00.000,1.616402e+04,both
6,1007.0,"Proseware, Inc.",2011-05-09 00:00:00.000,6.484753e+04,1007.0,2011-07-13 00:00:00.000,6.484753e+04,both
7,1008.0,Aurora Bike Center,2011-05-09 00:00:00.000,7.661827e+02,1008.0,2011-07-13 00:00:00.000,7.661827e+02,both
8,1009.0,Australia Bike Retailer,2011-12-23 00:00:00.000,7.670528e+02,1009.0,2012-02-26 00:00:00.000,7.670528e+02,both
9,1010.0,Beaumont Bikes,2011-12-23 00:00:00.000,1.984619e+03,1010.0,2012-02-26 00:00:00.000,1.984619e+03,both
10,1011.0,Bergeron Off-Roads,2011-12-23 00:00:00.000,5.538221e+02,1011.0,2012-02-26 00:00:00.000,5.538221e+02,both
11,1012.0,Bicycle Specialists,2011-12-23 00:00:00.000,3.828187e+04,1012.0,2012-02-26 00:00:00.000,3.828187e+04,both
12,1013.0,Bike Satellite Inc.,2011-12-23 00:00:00.000,2.032653e+03,NaN,NaT,NaN,left_only
13,1014.0,Bloomington Multisport,2011-12-23 00:00:00.000,1.616461e+02,1014.0,2012-02-26 00:00:00.000,1.616461e+02,both
14,1015.0,Burnett Road Warriors,2011-12-23 00:00:00.000,1.133332e+02,1015.0,2012-02-26 00:00:00.000,1.133332e+02,both
15,1016.0,Business Equipment Center,2011-12-23 00:00:00.000,1.666235e+02,1016.0,2012-02-26 00:00:00.000,1.666235e+02,both
16,1017.0,Capital Road Cycles,2011-12-24 00:00:00.000,1.510471e+04,1017.0,2012-02-27 00:00:00.000,1.510471e+04,both
17,1018.0,Carlson Specialties,2011-12-24 00:00:00.000,1.811452e+04,1018.0,2012-02-27 00:00:00.000,1.811452e+04,both
18,1019.0,Chicago City Saddles,2011-12-24 00:00:00.000,8.752056e+04,1019.0,2012-02-27 00:00:00.000,8.752056e+04,both
19,1020.0,Chicago Rent-All,2011-12-24 00:00:00.000,6.098274e+02,1020.0,2012-02-27 00:00:00.000,6.098274e+02,both
20,1021.0,Circuit Cycles,2011-12-24 00:00:00.000,7.721464e+03,1021.0,2012-02-27 00:00:00.000,7.721464e+03,both
21,1022.0,Comfort Road Bicycles,2011-12-24 00:00:00.000,3.101986e+04,1022.0,2012-02-27 00:00:00.000,3.101986e+04,both
22,1023.0,"Compete Enterprises, Inc",2011-12-24 00:00:00.000,4.123006e+04,1023.0,2012-02-27 00:00:00.000,4.123006e+04,both
23,1024.0,"Compete, Inc.",2011-12-24 00:00:00.000,4.658404e+03,1024.0,2012-02-27 00:00:00.000,4.658404e+03,both
24,1025.0,Competition Bike Training Systems,2011-12-24 00:00:00.000,3.126874e+04,1025.0,2012-02-27 00:00:00.000,3.126874e+04,both
25,1026.0,Consumer Cycles,2011-12-24 00:00:00.000,6.623870e+01,1026.0,2012-02-27 00:00:00.000,6.623870e+01,both
26,1027.0,Continental Pro Cycles,2011-12-24 00:00:00.000,7.984841e+02,NaN,NaT,NaN,left_only
27,1028.0,Crowley Sport,2011-12-24 00:00:00.000,4.848569e+04,1028.0,2012-02-27 00:00:00.000,4.848569e+04,both
28,1029.0,Cruger Bike Company,2012-01-17 00:00:00.000,6.550424e+02,1029.0,2012-03-22 00:00:00.000,6.550424e+02,both
29,1030.0,"Custom Frames, Inc.",2012-01-17 00:00:00.000,2.348346e+04,1030.0,2012-03-22 00:00:00.000,2.348346e+04,both
...,...,...,...,...,...,...,...,...
3984,4985.0,Morgan Bike Accessories,2014-08-12 00:00:00.000,4.629398e+02,4985.0,2014-10-16 00:00:00.000,4.629398e+02,both
3985,4986.0,Mountain Works,2014-08-12 00:00:00.000,5.809720e+02,4986.0,2014-10-16 00:00:00.000,5.809720e+02,both
3986,4987.0,National Bike Association,2014-08-12 00:00:00.000,5.102780e+02,4987.0,2014-10-16 00:00:00.000,5.102780e+02,both
3987,4988.0,Norstan Bike Hut,2014-08-12 00:00:00.000,5.324852e+02,4988.0,2014-10-16 00:00:00.000,5.324852e+02,both
3988,4989.0,Northern Bike Travel,2014-08-12 00:00:00.000,4.096840e+01,4989.0,2014-10-16 00:00:00.000,4.096840e+01,both
3989,4990.0,"Premier Sport, Inc.",2014-08-12 00:00:00.000,2.382167e+04,4990.0,2014-10-16 00:00:00.000,2.382167e+04,both
3990,4991.0,Pro Sport Industries,2014-08-12 00:00:00.000,5.256280e+02,4991.0,2014-10-16 00:00:00.000,5.256280e+02,both
3991,4992.0,Professional Athletic Consultants,2014-08-12 00:00:00.000,4.535881e+04,4992.0,2014-10-16 00:00:00.000,4.535881e+04,both
3992,4993.0,Ready Rentals,2014-08-12 00:00:00.000,4.605032e+02,4993.0,2014-10-16 00:00:00.000,4.605032e+02,both
3993,4994.0,"Reliance Fitness, Inc.",2014-08-12 00:00:00.000,3.084640e+02,4994.0,2014-10-16 00:00:00.000,3.084640e+02,both
3994,4995.0,Signature Cycles,2014-08-12 00:00:00.000,4.472068e+04,4995.0,2014-10-16 00:00:00.000,4.472068e+04,both
3995,4996.0,Speed Corporation,2014-08-12 00:00:00.000,4.305688e+02,4996.0,2014-10-16 00:00:00.000,4.305688e+02,both
3996,4997.0,Sport Fan Co.,2014-08-12 00:00:00.000,6.861254e+04,4997.0,2014-10-16 00:00:00.000,6.861254e+04,both
3997,4998.0,Sport Playground,2014-08-12 00:00:00.000,6.572816e+03,4998.0,2014-10-16 00:00:00.000,6.572816e+03,both
3998,4999.0,Superior Bicycles,2014-08-12 00:00:00.000,1.006853e+05,4999.0,2014-10-16 00:00:00.000,1.006853e+05,both
3999,5000.0,SUPERSALES INC.,2014-08-12 00:00:00.000,5.801250e+02,5000.0,2014-10-16 00:00:00.000,5.801250e+02,both
4000,5001.0,G & K Bicycle Corp.,2015-08-12 12:25:46.233,5.036146e+03,5001.0,2015-10-16 12:25:46.233,5.036146e+03,both
4001,5002.0,Jeff's Sporting Goods,2015-08-12 12:25:46.343,1.122000e+03,5002.0,2015-10-16 12:25:46.343,1.122000e+03,both
4002,5003.0,Integrated Sport Products,2015-08-12 12:25:46.360,3.019896e+04,5003.0,2015-10-16 12:25:46.360,3.019896e+04,both
4003,5004.0,Integrated Sport Products,2015-08-12 12:25:46.360,5.102130e+04,5004.0,2015-10-16 12:25:46.360,5.102130e+04,both
4004,5005.0,Integrated Sport Products,2015-08-12 12:25:46.373,8.167500e+03,5005.0,2015-10-16 12:25:46.373,8.167500e+03,both
4005,5006.0,International Trek Center,2015-08-12 12:25:46.390,2.407075e+04,5006.0,2015-10-16 12:25:46.390,2.407075e+04,both
4006,5007.0,Fitness Association,2015-08-12 12:25:46.407,6.094220e+05,5007.0,2015-10-16 12:25:46.407,6.094220e+05,both
4007,5008.0,Team Athletic Co.,2015-08-12 12:25:46.420,4.364019e+05,5008.0,2015-10-16 12:25:46.420,4.364019e+05,both
4008,5009.0,Green Lake Bike Company,2015-08-12 12:25:46.453,1.640650e+04,5009.0,2015-10-16 12:25:46.453,1.640650e+04,both
4009,5010.0,Jeff's Sporting Goods,2015-08-12 12:25:46.470,4.153600e+04,5010.0,2015-10-16 12:25:46.470,4.153600e+04,both
4010,5011.0,Green Lake Bike Company,2015-08-12 12:25:46.470,5.994175e+04,5011.0,2015-10-16 12:25:46.470,5.994175e+04,both
4011,5012.0,Integrated Sport Products,2015-08-12 12:25:46.483,1.097448e+06,5012.0,2015-10-16 12:25:46.483,1.097448e+06,both
4012,NaN,NaN,NaT,NaN,11013.0,2012-02-26 00:00:00.000,2.032653e+03,right_only
4013,NaN,NaN,NaT,NaN,11027.0,2012-02-27 00:00:00.000,7.984841e+02,right_only

In [33]:
# 'unknown' will be used to indicate transactions that do not exist in the check register
unknown = review.loc[review['location'] == 'right_only']

# A quick preview
unknown.head()

,CheckNo,Name,CheckDate,TotalDue,CheckCleared,DateCleared,AmountCleared,location
4012,NaN,NaN,NaT,NaN,11013.0,2012-02-26,2032.6535,right_only
4013,NaN,NaN,NaT,NaN,11027.0,2012-02-27,798.4841,right_only

In [37]:
# 'known' will be used to indicate transactions that do exist in the check register
known = review.loc[review['location'] == 'both']

# I will also add a column that will indicate if any difference exists between the actual check and the transaction
# amount from the bank
known['Difference'] = known['TotalDue'] - known['AmountCleared']

# A quick preview
known.head(15)

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,CheckNo,Name,CheckDate,TotalDue,CheckCleared,DateCleared,AmountCleared,location,Difference
0,1001.0,"Litware, Inc.",2011-04-25,222.1492,1001.0,2011-06-29,222.1492,both,0.0000
1,1002.0,Advanced Bicycles,2011-04-25,300.6721,1002.0,2011-06-29,300.0000,both,0.6721
2,1003.0,Allenson Cycles,2011-04-25,9776.2665,1003.0,2011-06-29,9776.2665,both,0.0000
3,1004.0,American Bicycles and Wheels,2011-04-25,189.0395,1004.0,2011-06-29,189.0395,both,0.0000
4,1005.0,American Bikes,2011-05-09,22539.0165,1005.0,2011-07-13,22539.0165,both,0.0000
5,1006.0,Anderson's Custom Bikes,2011-05-09,16164.0229,1006.0,2011-07-13,16164.0229,both,0.0000
6,1007.0,"Proseware, Inc.",2011-05-09,64847.5328,1007.0,2011-07-13,64847.5328,both,0.0000
7,1008.0,Aurora Bike Center,2011-05-09,766.1827,1008.0,2011-07-13,766.1827,both,0.0000
8,1009.0,Australia Bike Retailer,2011-12-23,767.0528,1009.0,2012-02-26,767.0528,both,0.0000
9,1010.0,Beaumont Bikes,2011-12-23,1984.6192,1010.0,2012-02-26,1984.6192,both,0.0000
10,1011.0,Bergeron Off-Roads,2011-12-23,553.8221,1011.0,2012-02-26,553.8221,both,0.0000
11,1012.0,Bicycle Specialists,2011-12-23,38281.8686,1012.0,2012-02-26,38281.8686,both,0.0000
13,1014.0,Bloomington Multisport,2011-12-23,161.6461,1014.0,2012-02-26,161.6461,both,0.0000
14,1015.0,Burnett Road Warriors,2011-12-23,113.3332,1015.0,2012-02-26,113.3332,both,0.0000
15,1016.0,Business Equipment Center,2011-12-23,166.6235,1016.0,2012-02-26,166.6235,both,0.0000

In [44]:
known.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4010 entries, 0 to 4011
Data columns (total 9 columns):
CheckNo          4010 non-null float64
Name             4010 non-null object
CheckDate        4010 non-null datetime64[ns]
TotalDue         4010 non-null float64
CheckCleared     4010 non-null float64
DateCleared      4010 non-null datetime64[ns]
AmountCleared    4010 non-null float64
location         4010 non-null category
Difference       4010 non-null float64
dtypes: category(1), datetime64[ns](2), float64(5), object(1)
memory usage: 286.0+ KB

In [56]:
# Now I will create another data frame to show only checks that cleared with a different amount
DiffAmount = known.loc[known['Difference'] != 0]
DiffAmount.head()

,CheckNo,Name,CheckDate,TotalDue,CheckCleared,DateCleared,AmountCleared,location,Difference
1,1002.0,Advanced Bicycles,2011-04-25,300.6721,1002.0,2011-06-29,300.0000,both,0.6721
30,1031.0,Wide World Importers,2012-01-17,157.3647,1031.0,2012-03-22,1157.3647,both,-1000.0000

In [57]:
# repeated code for visual reference.
unknown.head()

,CheckNo,Name,CheckDate,TotalDue,CheckCleared,DateCleared,AmountCleared,location
4012,NaN,NaN,NaT,NaN,11013.0,2012-02-26,2032.6535,right_only
4013,NaN,NaN,NaT,NaN,11027.0,2012-02-27,798.4841,right_only

In [ ]:
# The 'unknown' checks will need to be further review. Are they fraudulent checks or did the bank record them with the wrong check number.
# The 'DiffAmount' checks will also need to be reviewed for fraud or bank error.